{% extends 'base.html' %}

{% block title %}Cards{% endblock %}

<!-- Ih this js jinja block-, the script tag has the .jsx file that is getting pulled into the webpage -->
{% block js %}
<script src="/static/js/tradingCard.jsx" type="text/jsx"></script>
{% endblock %}


{% block body %}
<div class="grid">
  <!-- Mount Balloonicorn's card on to this element. -->
  <div id="balloonicorn"></div>

  <!-- Mount Float's card on to this element. -->
  <div id="float"></div>

  <!-- Mount Llambda's card on to this element. -->
  <div id="llambda"></div>

  <!-- Mount Merge's card on to this element. -->
  <div id="merge"></div>

  <!-- Mount Chef Leo's card on to this element. -->
  <div id="leo"></div>

  <!-- Mount Seeds' card on to this element. -->
  <div id="seeds"></div>

  <!-- Mount Skittles' card on to this element. -->
  <div id="skittles"></div>

  <!-- Mount Short Stack's card on to this element. -->
  <div id="short-stack"></div>
</div>

{% endblock %}